<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Photo Store</title>
</head>
<body>
    <header>
        <nav>
            <!-- Kiểm tra xem người dùng đã đăng nhập chưa -->
            {% if 'username' not in session %}
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
            {% else %}
                <div class="user-menu">
                    <button class="user-name">{{ session['username'] }}</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('library') }}">Library</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>

    <h1>Gallery</h1>
    <div class="image-grid">
        {% for image in images %}
        <div class="image-grid-item">
            <a href="{{ url_for('detail', image_id=image[0]) }}">
                <img src="{{ url_for('static', filename='uploads/' + image[1]) }}" alt="Image">
                <!-- <div class="image-title">{{ image[2] }}</div> Tên hoặc thông tin chủ sở hữu -->
            </a>
        </div>
        {% endfor %}
    </div>

</body>
</html>
